@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-fill-color-transparent {
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .hp-uppercase-text {
    font-size: 34px;
    font-weight: 400 !important;
    line-height: 1.2;
  }
}

body {
  color: rgba(0, 0, 0, 0.85);
  background: ;
}

a {
  color: inherit;
  text-decorastion: underline;
}

* {
  box-sizing: border-box;
}
