@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-fill-color-transparent {
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .neon-lights {
    text-shadow: 0rem 0rem 0rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 0.5rem saddlebrown, 0 0 1rem saddlebrown, 0 0 5rem saddlebrown;
  }
}

body {
  backgrsound: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.filterFramePath {
  stroke-width: 2;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill: transparent;
  animation: dash 1s ease-in;
  animation-fill-mode: forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/* For: Fashion History of Web Design */
.second-btn {
  text-shadow: 0 -1.5px 0 rgba(0, 0, 0, 0.35);
  border: 1px solid;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
}
.second-btn:hover {
  background-position: 0 -15px;
  background-repeat: repeat-x;
}

p code {
  font-size: 1.2rem;
  border: 1px solid #ccc;
  padding: 0 5px;
  border-radius: 5px;
}
